<div class='card p-5'>
    <div class='card-title'>
        <h2 class="text-center">Write a Post!</h2>
    </div>
    <form id="create-post-form">
        <div class="mb-3">
            <label for="inputTitle" class="form-label">Title</label>
            <input type="text" class="form-control" id="inputTitle" aria-describedby="titleHelp">
        </div>
        <div class="mb-3">
            <text for="inputBody" class="form-label">Body</label>
            <textarea type="text" class="form-control" id="inputBody" cols="30" rows="10" aria-describedby="bodyHelp" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create!</button>
    </form>
</div>

<script src="/js/create.js"></script>