<div class='card p-5'>
    <div class='card-title'>
        <h2 class="text-center">Welcome!</h2>
    </div>
    <form id="login-form">
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Log In</button>
    </form>
    <br>
    <br>
    <p>No Account? <a href="/signup">Sign Up!</a></p>
</div>

<script src="/js/login.js"></script>