<div class='card p-5'>
    <div class='card-title'>
        <h2 class="text-center">Welcome!</h2>
    </div>
    <form id="signup-form">
        <div class="mb-3">
            <label for="inputEmail" class="form-label">E-Mail</label>
            <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="inputUsername" class="form-label">Username</label>
            <input type="text" class="form-control" id="inputUsername" aria-describedby="usernameHelp">
        </div>
        <div class="mb-3">
            <label for="inputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="inputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>

<script src="/js/signup.js"></script>